[package]
name = "rust48"
version = "0.1.0"
edition = "2021"
license = "GPL-2.0-or-later"

[package.metadata.wasm-pack.profile.release]
wasm-opt = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"

[profile.release]
lto = true
opt-level = 3
strip = true
